// Nav
.navbar-default {
    background-color: $color_nav_footer;
    border-color: none;
}
.navbar-default .navbar-nav > li > a{
	color: $color_section_tres;
}
.navbar-nav {
    margin-left: 30%;
}
.navbar-default .navbar-nav > li > a:hover {
    color: $color_oro_borde;
}

//UNO
.container.contcarrousel {
    @include cont_carrusel;
}
img.imgcarrousel{
	@include img_responsive;
	@include centrar_img;
}
//DOS
section.section_dos{
	@include base_section;
	background-color: $color_section_dos;
}
img.imgborde{
	@include borde_redondo;
}
p.text-service{
	margin-bottom: 64px;
}
a.pill_read{
	background-color: $color_oro_borde;
	padding: 3px;
	border-radius: 4px;
	color: $color_nav_footer;
}
div.cont_servicios{
	margin-bottom: 84px;
}