// Nav
.navbar-default {
    background-color: $color_nav_footer;
    border: none;
}
.navbar-default .navbar-nav > li > a{
	color: $color_section_tres;
}
.navbar-nav {
    margin-left: 30%;
}
.navbar-default .navbar-nav > li > a:hover {
    color: $color_oro_borde;
}

//UNO
.container.contcarrousel {
    @include cont_carrusel;
}
img.imgcarrousel{
	@include img_responsive;
	@include centrar_img;
}
//DOS
section.section_dos{
	@include base_section;
	background-color: $color_section_dos;
}
img.imgborde{
	@include borde_redondo;
}
p.text-service{
	margin-bottom: 64px;
}
a.pill_read{
	background-color: $color_oro_borde;
	padding: 3px;
	border-radius: 4px;
	color: $color_nav_footer;
}
div.cont_servicios{
	margin-bottom: 84px;
}
//TRES
section.section_tres{
	padding: $padding_section;
	background-color: $color_section_tres;	
}
img.img_presentation{
	border-radius: 8px;
	width: 75%;
}
h2.title_presentation{
	margin-top: 0;
	color: $color_titulo_sdos;
	margin-bottom: 18px;
	text-align: center;
}
ul.list_description{
	list-style: none;
	line-height: 23px;
	color: #556538;
}
p.text-presentation {
    margin-bottom: 20px;
}
//CUATRO
section.section_cuatro{
	padding: $padding_section;
	background-color: $color_section_cuatro;
	color: $color_section_dos;
}
.imgizq, .imgder{
	border-radius: 8px;
	margin-bottom: 30px;
}
h3.title_program{
	margin-bottom: 30px;
}
.imgizq{
	float: left;
	margin-left: 30px;	
}
.imgder{
	float: right;
	margin-right: 30px;
}
hr{
	border-bottom:1px solid $color_oro_borde;
	width: 80%;
}
//Footer
footer{
	padding: $padding_section;
	background-color: $color_nav_footer;
	color: $color_section_dos;
}
ul.sociales{
	list-style: none;
	display: inline-flex;
}
img.imgsociales{
	vertical-align: middle;
    background-color:$color_botones_sociales;
    margin-right: -1px;
    border-radius: 76px;
    width: 74%;
    border: 5px solid $color_texto_rojo;
}
h4.titulos_footer{
	margin-bottom: 30px;
}
p.pmail{
	margin-bottom: 20px;
	font-size: 13px;
}