@mixin coverimage{
	width: 100%;
	height: $cienporciento;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
@mixin img_responsive{
	width: 100%;
    height: auto;
}
@mixin centrar_img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
@mixin base_section{
	width: 100%;
	height: 100%;
	padding: 20px;
}
@mixin borde_redondo{
	border: 6px solid $color_oro_borde;
    border-radius: 106px;
    margin-top: -60px;
}
@mixin cont_carrusel{
	width: 100%;
    padding: 0;
	margin-top: 50px;
}
@mixin line_separator{
	height:1px;
	background:#717171;
	border-bottom:1px solid $color_oro_borde;
	margin-bottom: 30px;
	width: 50%;
}