$body_font:'Roboto', sans-serif;
$color_nav_footer: #2F1F1F;
$color_oro_borde: #DBBE84;
$color_section_dos: #E9E0B7;
$color_titulo_sdos: #D86B40;
$color_section_tres: #F4F4F4;
$color_section_cuatro: #4A3A3A;
$color_botones_sociales: #BFB68D;
$color_texto_rojo: #DF8560;
$padding_section: 80px 0px 60px 0; 
